@model IEnumerable<Book>
@using BookLibrary.Models

<h1>Popis knjiga</h1>

<p>
    <a asp-action="Create">Dodaj knjigu</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.DatePublished)</th>
            <th>@Html.DisplayNameFor(model => model.PublishingCountry)</th>
            <th>@Html.DisplayNameFor(model => model.Publisher)</th>
            <th>@Html.DisplayNameFor(model => model.Quantity)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td><a asp-controller="Author" asp-action="Details" asp-route-id="@item.AuthorId">Autor</a></td>
                <td>@Html.DisplayFor(modelItem => item.DatePublished)</td>
                <td>@Html.DisplayFor(modelItem => item.PublishingCountry)</td>
                <td><a asp-controller="Publisher" asp-action="Details" asp-route-id="@item.PublisherId">Publisher</a></td>
                <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">O knjizi | </a>
                    <a asp-action="Edit" asp-route-id="@item.Id">Promjeni izdavača | </a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Ukloni knjigu | </a>
                </td>
            </tr>
        }
    </tbody>
</table>